<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.casadocodigo.boaviagem"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >

        <!-- Screen de login -->

        <activity
            android:name="BoaViagemActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Screen dashboard -->

        <activity android:name="DashboardActivity" >
        </activity>
        
        <!-- Screen de nova viagem -->
        
        <activity
            android:name="ViagemActivity"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>

        <!-- Screen de novo gasto -->

        <activity
            android:name="GastoActivity"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        
        <!-- Screen de minhas viagens -->
        
        <activity
            android:name="ViagemListActivity"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        
        <!-- Screen de gasto por viagens -->
        
        <activity
            android:name="GastoListActivity"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        
    </application>

</manifest>